<layout1 [config]="cmsLayout1Config">
  <ng-pop-breadcrumb [config]="breadcrumbConfig"></ng-pop-breadcrumb>
  <div class="card">
    <div class="header">
      Tabsets
    </div>
    <div class="body">
      <div>
        <!-- <cms-tabset>
          <cms-tab heading="Tab1">
            content1
          </cms-tab>
          <cms-tab heading="Tab2">
            content2
          </cms-tab>
        </cms-tabset> -->
      </div>
      <div>
        <!-- <cms-tabset customClassNames="sm">
          <cms-tab heading="Tab1">
            content1
          </cms-tab>
          <cms-tab heading="Tab2">
            content2
          </cms-tab>
        </cms-tabset> -->
      </div>
      <!-- <cms-tabset customClassNames="lg">
        <cms-tab heading="Tab1">
          content1
        </cms-tab>
        <cms-tab heading="Tab2">
          content2
        </cms-tab>
      </cms-tabset> -->
      <ng-pop-tabset [config]="tabConfig1">
        <!-- <div class="tabset-header"> -->
        <ng-pop-tab-content-item
          [item]="tabConfig1.items[0]"
          (activate)="onTabItemActivate()"
        >
          Tab1 content
        </ng-pop-tab-content-item>
        <ng-pop-tab-content-item [item]="tabConfig1.items[1]">
          Tab2 content
        </ng-pop-tab-content-item>
        <ng-pop-tab-content-item [item]="tabConfig1.items[2]">
          Tab3 content
        </ng-pop-tab-content-item>
        <!-- <ng-pop-tab-nav-item [item]="tabConfig1.items[0]" (activate)="onTabItemActivate()">Tab1 content</ng-pop-tab-nav-item>
              <ng-pop-tab-nav-item [item]="tabConfig1.items[1]">Tab2 content</ng-pop-tab-nav-item>
              <ng-pop-tab-nav-item [item]="tabConfig1.items[2]">Tab4 content</ng-pop-tab-nav-item> -->
        <!-- </div> -->
      </ng-pop-tabset>
    </div>
  </div>
  <div class="card">
    <div class="header">
      Buttons
    </div>
    <div class="body">
      <div style="margin-bottom:20px;">
        <button class="btn main">Button1</button>
        <button class="btn sub">Button2</button>
        <button class="btn main" disabled>Button1</button>
        <button class="btn sub" disabled>Button2</button>
      </div>
      <div style="margin-bottom:20px;">
        <button class="btn main sm">Button1</button>
        <button class="btn sub sm">Button2</button>
        <button class="btn main sm" disabled>Button1</button>
        <button class="btn sub sm" disabled>Button2</button>
      </div>
      <div style="margin-bottom:20px;">
        <button class="btn main lg">Button1</button>
        <button class="btn sub lg">Button2</button>
        <button class="btn main lg" disabled>Button1</button>
        <button class="btn sub lg" disabled>Button2</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="header">
      Tables
      <div class="r">
        <!-- <cms-tabset customClassNames="no-border no-content">
          <cms-tab heading="Year"></cms-tab>
          <cms-tab heading="Month"></cms-tab>
        </cms-tabset> -->
        <button class="btn sub" style="vertical-align:middle;">more</button>
      </div>
    </div>
    <div class="body">
      <div class="nm25" style="margin-top:-25px;">
        <table class="ng-pop-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Date</th>
              <th>Team</th>
              <th>Option</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Test program</td>
              <td>2019/11/05</td>
              <td>Los Angeles lakers</td>
              <td><a href="javascript:;" class="link">Delete</a></td>
            </tr>
            <tr>
              <td>2</td>
              <td>Test program2</td>
              <td>2019/11/05</td>
              <td>Los Angeles lakers</td>
              <td><a href="javascript:;" class="link">Delete</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="header">Carousel</div>
    <div class="body">
      <ng-pop-carousel>
        <ng-pop-carousel-item>第一</ng-pop-carousel-item>
        <ng-pop-carousel-item>第二</ng-pop-carousel-item>
        <ng-pop-carousel-item>第三</ng-pop-carousel-item>
      </ng-pop-carousel>
    </div>
  </div>
  <div class="card">
    <div class="header">Select</div>
    <div class="body">
      <div>
        <ng-pop-select [config]="selectConfig2"></ng-pop-select>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="header">Button Group</div>
    <div class="body">
      <div>
        <ng-pop-btn-group
          [config]="btnGroupConfig"
          (clickBtn)="clickBtn($event)"
        ></ng-pop-btn-group>
      </div>
    </div>
  </div>
</layout1>
